# This file is used by direnv to setup the environment when entering to use fvm's flutter.

# Comment out the next line if you want to use your system flutter.
PATH_add .fvm/flutter_sdk/bin

# Check flutter version matches what's in .fvmrc
check_flutter_version() {
  local fvm_flutter_version_string=$(cat .fvmrc)
  # Fetch string from format `"flutter": "18340ea16c"``
  local fvm_flutter_version=$(echo "$fvm_flutter_version_string" | grep -o '"flutter": "[a-z0-9]*"' | cut -d '"' -f 4)

  local flutter_version_string=$(flutter --version)
  # Fetch string from format `Framework • revision 11c034f037`
  local flutter_version=$(echo $flutter_version_string | grep -o 'Framework • revision [a-z0-9]*' | cut -d ' ' -f 4)

  if [ "$fvm_flutter_version" != "$flutter_version" ]; then
    echo "Flutter version mismatch: $fvm_flutter_version != $flutter_version"
    echo "Expected Flutter version: $fvm_flutter_version"
    echo "Actual Flutter version: $flutter_version"
    echo "Run 'fvm install' to fix this or see README on Setup."
    return 1
  fi
}

# Check flutter version when entering directory
# Comment this out at your own risk if you want to use a custom flutter version.
check_flutter_version