# For docs on this file format, see:
#   https://dart.dev/tools/pub/pubspec
#   https://docs.flutter.dev/tools/pubspec
#   https://github.com/flutter/flutter/blob/main/packages/flutter_tools/templates/app/pubspec.yaml.tmpl

name: zulip
description: A Zulip client for Android and iOS
publish_to: 'none'

# Keep the last two numbers equal; see docs/release.md.
version: 0.0.16+16

environment:
  # We use a development version of Flutter while in beta,
  # and the corresponding dev version of the Dart SDK.  The hope is
  # that by the time we want to release, these will have become stable.
  # TODO: Before general release, switch to stable Flutter and Dart versions,
  #   or pin exact versions: https://github.com/zulip/zulip-flutter/issues/15
  sdk: '>=3.5.0-308.0.dev <4.0.0'
  flutter: '>=3.23.0-13.0.pre.363'

# To update dependencies, see instructions in README.md.
dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # For some packages that are pinned by the Flutter SDK, we write no
  # constraint, to avoid unnecessarily breaking when Flutter takes a
  # new version.  (This risks getting a new version that really is
  # incompatible; but that's true of Flutter itself on each upgrade.)
  # We only do this for packages with a history of major-version bumps
  # that caused more churn than real incompatibilities.
  intl: any  # pinned by flutter_localizations; churn history:
             # https://github.com/dart-lang/i18n/issues/458#issuecomment-1513231235
             # https://github.com/dart-lang/i18n/issues/759#issuecomment-1864316701
             # https://github.com/flutter/flutter/issues/117163

  app_settings: ^5.0.0
  collection: ^1.17.2
  convert: ^3.1.1
  crypto: ^3.0.3
  device_info_plus: ^10.0.1
  drift: ^2.5.0
  file_picker: ^8.0.0+1
  firebase_core: ^3.1.0
  firebase_messaging: ^15.0.1
  flutter_color_models: ^1.3.3+2
  flutter_local_notifications: ^17.2.1
  flutter_local_notifications_platform_interface: ^7.2.0
  html: ^0.15.1
  http: ^1.0.0
  image_picker: ^1.0.0
  json_annotation: ^4.8.1
  package_info_plus: ^8.0.0
  path: ^1.8.3
  path_provider: ^2.0.13
  share_plus: ^9.0.0
  share_plus_platform_interface: ^4.0.0
  sqlite3: ^2.4.0
  sqlite3_flutter_libs: ^0.5.13
  url_launcher: ^6.1.11
  url_launcher_android: ">=6.1.0"
  video_player: ^2.8.3
  zulip_plugin:
    path: ./packages/zulip_plugin
  # Keep list sorted when adding dependencies; it helps prevent merge conflicts.

dev_dependencies:
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

  build_runner: ^2.3.3
  checks: ^0.3.0
  clock: ^1.1.1
  drift_dev: ^2.5.2
  fake_async: ^1.3.1
  flutter_lints: ^4.0.0
  json_serializable: ^6.5.4
  pigeon: ^20.0.1
  plugin_platform_interface: ^2.1.8
  stack_trace: ^1.11.1
  test: ^1.23.1
  video_player_platform_interface: ^6.2.2
  # Keep list sorted when adding dependencies; it helps prevent merge conflicts.

flutter:
  generate: true
  uses-material-design: true

  assets:
    - assets/Noto_Color_Emoji/LICENSE
    - assets/Pygments/AUTHORS.txt
    - assets/Pygments/LICENSE.txt
    - assets/Source_Code_Pro/LICENSE.md
    - assets/Source_Sans_3/LICENSE.md

  fonts:
    # Google's emoji font. (Web uses these emoji for the "Google" emojiset.)
    #
    # This should not be used on iOS.
    # iOS doesn't support any of the formats this font is available in,
    # and if we use it on iOS (whether as a primary font or a fallback)
    # we'll get blank spaces where we could have had Apple-style emojis.
    #
    # Also, in text that might contain non-emoji glyphs, this should
    # always come after a non-emoji font in the chain of font-family
    # fallbacks. Letting this font handle e.g. space characters will
    # make text look weird.
    # TODO don't bundle this on iOS; it wastes several MB because it's unused.
    - family: Noto Color Emoji
      fonts:
        - asset: assets/Noto_Color_Emoji/Noto-COLRv1.ttf

    - family: Source Code Pro
      fonts:
        - asset: assets/Source_Code_Pro/SourceCodeVF-Upright.otf
        - asset: assets/Source_Code_Pro/SourceCodeVF-Italic.otf
          style: italic

    - family: Source Sans 3
      fonts:
        - asset: assets/Source_Sans_3/SourceSans3VF-Upright.otf
        - asset: assets/Source_Sans_3/SourceSans3VF-Italic.otf
          style: italic

    # Zulip's custom icons.  To use or edit, see class ZulipIcons.
    - family: Zulip Icons
      fonts:
        - asset: assets/icons/ZulipIcons.ttf

    # If adding a font, remember to account for its license in lib/licenses.dart.
