// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// This should match the value in ios/Podfile
// and MinimumOSVersion in ios/Flutter/AppFrameworkInfo.plist.
IPHONEOS_DEPLOYMENT_TARGET=15.0

DEVELOPMENT_TEAM=66KHCWMEYB

// This should match the `iosAppGroupIdentifier` variable in
// lib/model/store.dart.
ZULIP_APP_GROUP_IDENTIFIER=group.com.zulip.app
